.login-register-container .rounded-logo{
	position: absolute;
	top:-120px;
	left: calc(50% - 50px);
	box-shadow: $dp16;
}


.login-register-card{
	position: absolute;
	width: 320px;
	min-height: 425px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.form-title{
	text-transform: uppercase;
	font-weight: 300;
	position: absolute;
	top: -180px;
	color: rgba(0,0,0,0.6);	
}

.login-form,
.register-form{
	width: 100%;
	min-height: 100%;
	background-color: #fff;
	position: absolute;	
	border-radius: 4px;
	padding: 30px;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	text-align: center; 
	box-shadow: $dp24; 	
}

.login-form,
.register-form,
.form-title{
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: transform 0.8s;
	perspective: 1000px;
}

.login-form p{
	margin-bottom: 0;
	font-size: 14px;
}
.register-flip-button{
	margin-bottom: 10px;
	text-decoration: underline;
	text-transform: capitalize;
	cursor: pointer;
}
.login-flip-button{
	position: absolute;
	cursor:pointer;
	top: -16px;
	left: -16px;
	height: 48px;
	width: 48px;
	background: $primary-color;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	color: white;
	box-shadow: $dp6;
	transition: all .3s ease;
}
.login-flip-button:hover{
	box-shadow: $dp8;
}
.back{
	transform: rotateY(180deg);
}
.logout-button{
	background-color: $error-color !important;
}